{
  "semi": true,
  "tabWidth": 2,
  "useTabs": false,
  "printWidth": 140,
  "singleQuote": true,
  "trailingComma": "all",
  "bracketSpacing": true,
  "jsxSingleQuote": false,
  "arrowParens": "always",
  "bracketSameLine": true,
  "quoteProps": "as-needed",
  "plugins": ["@ianvs/prettier-plugin-sort-imports"],
  "importOrder": [
    ".*styles.css$",
    "",
    "^react$",
    "",
    "<BUILTIN_MODULES>",
    "<THIRD_PARTY_MODULES>",
    "",
    "^@mantine/(.*)$",
    "",
    "^@/.*$",
    "",
    "^@mono/(.*)$",
    "",
    "^@app/(.*)$",
    "",
    "^@processes/(.*)$",
    "",
    "^@pages/(.*)$",
    "",
    "^@widgets/(.*)$",
    "",
    "^@features/(.*)$",
    "",
    "^@entities/(.*)$",
    "",
    "^@test-utils/(.*)$",
    "",
    "<TYPES>",
    "",
    "^(?!.*[.]css$)[./].*$",
    ".css$"
  ]
}
